@model Control_Inmuebles.Models.Inmueble

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PisoInmuebleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PisoInmuebleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DptoInmuebleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DptoInmuebleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiudadId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProvinciaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProvinciaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoInmuebleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoInmuebleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
