@model IEnumerable<Control_Inmuebles.Models.Inmuebles___Copia.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="pt-1 pb-3">
    <a class="btn  btn-primary" asp-action="Create">Crear</a>
    <a class="btn  btn-primary" asp-controller="Registros" asp-action="Index">Volver</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EdificioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Piso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dpto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GetEdificio().Direccion) @Html.DisplayFor(modelItem => item.GetEdificio().Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dpto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
