@model Control_Inmuebles.Models.Movimientos.CobroCuotaDepartamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CobroCuotaDepartamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCobro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCobro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContratoDepartamentoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContratoDepartamentoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoutaAlquiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoutaAlquiler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuotaAgua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuotaAgua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoutaMunicipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoutaMunicipal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoutaRentas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoutaRentas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
