@model IEnumerable<Control_Inmuebles.Models.Movimientos.CobroCuotaDepartamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaCobro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edificio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoutaAlquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuotaAgua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoutaMunicipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoutaRentas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCobro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuestraDatosAlquiler().NombreInquilino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuestraDatosAlquiler().MuestraDatoContrato().GetDepartamento().DatoEdificio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuestraDatosAlquiler().MuestraDatoContrato().GetDepartamento().DatosSoloDepto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoutaAlquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuotaAgua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoutaMunicipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoutaRentas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
