@model IEnumerable<Control_Inmuebles.Models.Movimientos.CobroCuotaDepartamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn  btn-primary" asp-action="Create">Crear</a>
    <a class="btn  btn-primary" asp-controller="Home" asp-action="Index">Volver</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaCobro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edificio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoutaAlquiler)  
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuotaAgua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoutaMunicipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoutaRentas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCobro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuestraDatosAlquiler().NombreInquilino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuestraDatosAlquiler().MuestraDatoContrato().GetDepartamento().DatoEdificio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuestraDatosAlquiler().MuestraDatoContrato().GetDepartamento().DatosSoloDepto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoutaAlquiler)   <div class="border rounded pl-1 pr-1" >@Html.DisplayFor(modelItem => item.CompletoCuotaMes)</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuotaAgua)   <div class="border rounded pl-1 pr-1"> @Html.DisplayFor(modelItem => item.CompletoAguaMes)</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoutaMunicipal)  <div class="border rounded pl-1 pr-1"> @Html.DisplayFor(modelItem => item.CompletoMunicipalidadMes)</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoutaRentas)  <div class="border rounded pl-1 pr-1"> @Html.DisplayFor(modelItem => item.CompletoRentasMes)</div>
            </td>
            <td>
                
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
