@model Control_Inmuebles.Models.Movimientos.Alquiler

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alquiler</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Inquilino/ Edificio / Piso/ dpto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MuestraDatoContrato().NombreDepartamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MuestraDatoContrato().CuotaMensualPrimerAño)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAgua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorAgua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorRentas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorRentas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMunicipalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMunicipalidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
