@model IEnumerable<Control_Inmuebles.Models.Movimientos.Alquiler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContratoDepartamentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdificioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartamentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorCuota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorAgua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorRentas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorMunicipalidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContratoDepartamentoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdificioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorCuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorAgua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorRentas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorMunicipalidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
