@model IEnumerable<Control_Inmuebles.Models.Movimientos.Alquiler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn  btn-primary" asp-action="Create">Crear</a>
    <a class="btn  btn-primary" asp-controller="Registros" asp-action="Index">Registros</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Inquilino
            </th>
            <th>
                Edificio
            </th>
            <th>
                Piso/Dpto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MuestraDatoContrato().NombreInquilino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuestraDatoContrato().GetDepartamento().DatoEdificio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuestraDatoContrato().NombreDpto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a class="btn  btn-primary" asp-controller="Home" asp-action="Index">Home</a>
