@model Control_Inmuebles.Models.Vinculos.Contrato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltaContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltaContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlazoContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlazoContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClausuraContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClausuraContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropietarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropietarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InquilinoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InquilinoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inmueble)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garante1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garante1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garante2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garante2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
