@model IEnumerable<Control_Inmuebles.Models.Vinculos.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn  btn-primary" asp-action="Create">Crear</a>
    <a class="btn  btn-primary" asp-controller="Registros" asp-action="Index">Volver</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AltaContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlazoContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClausuraContrato)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>
            <th id="Inmueble-Contrato-Index">
                @Html.DisplayNameFor(model => model.Inmueble)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AltaContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlazoContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClausuraContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InquilinoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inmueble)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
